 <div class="row justify-content-md-center">
                <!-- <div class="animated fadeIn delay-700ms"> -->
         <br>
         <br>
        
         <div class= "container2"><h4>About Us</h4>
         <p class="aboutText">
             Dari Fair has been owned by Dawn Nemeth since 2005. The shop offers
             over 50 food items and and an endless desert menu. Dari Fair offers 
             over 100 flavors of ice cream that can be mixed to make your perfect
             flavor. If we don't have your flavor, let us know and we will try to 
             create it for you.  

         </p>
               <video controls muted autoplay loop>
                    <source src="../../../assets/video.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video> 

                            <a class="nav-link btn-danger" [routerLink]="['/contactUs']">Contact Us </a>
                        
                    </div>
                </div>






