h4{
    text-decoration: underline;
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
}
h5{
    color: #5b8ea8;
    background-color: #f5e4cb; 
    width: auto;
    text-align: center;
    border-radius: 10px;
}
h6{
    text-align: center;
    width: auto;
}
li{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
ul{
    padding: 0;
}