.accordion{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}

.card-header{
  text-align: center;
  overflow: hidden;
}
.btn-link{
  font-size: .95em;
  color: white;
  text-decoration: none;
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 800;
  text-align:center;
}

@media only screen and (max-width: 990px) {
    .accordion{
      width: 100%;
    }
      
    }
    #headingOne{
      background-color: #6aa8c4;
    }
    #headingTwo{
      background-color: #6aa8c4;
      
    }
    #headingThree{
      background-color: #6aa8c4;
    }
    #headingFour{
      background-color:#6aa8c4;
    }
    #headingFive{
      background-color: #6aa8c4;
    }
    #headingSix{
      background-color: #6aa8c4;
    }
    #headingSeven{
      background-color: #6aa8c4;
    }
    #headingEight{
      background-color: #6aa8c4;
    }
    #headingNine{
      background-color: #6aa8c4;
    }